name: pylint
on: [push, pull_request]
jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - run: |
        sudo apt-get update
        sudo apt-get install -y \
          libgdal-dev \
          gdal-bin \
          python3-gdal
    - run: python -m pip install --upgrade pip setuptools wheel
    - run: pip install -r requirements.txt
    - run: pylint --extension-pkg-whitelist=cv2 $(git ls-files '**/*.py')